html,
body {
    margin: 0;
    padding: 0;
    background-color: white;
    /* background: linear-gradient(135deg, #afada8 0%, #ffffff 100%); */
}

video {
    width: 100%;
    height: auto;
    max-height: 100vh;
}